certifi==2017.11.5
chardet==3.0.4
Django==2.0
django-adminlte2==0.2.3
django-appconf==1.0.2
django-axes==4.1.0
django-ipware==2.0.1
django-memoize==2.1.0
django-pure-pagination==0.3.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.6
idna==2.6
numpy==1.13.3
Pillow==5.0.0
PyMySQL==0.8.0
pytz==2017.3
pyzabbix==0.7.4
requests==2.18.4
six==1.11.0
urllib3==1.22
