{% extends 'server_base.html' %}

{% block title %}SSL列表{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>证书列表
            <small>SSL</small>
        </h1>
    </section>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-10 ssl-wrapper">
            <table class="table ssl-list">
                <thead>
                <tr>
                    <th>域名</th>
                    <th>证书类型</th>
                    <th>有效期</th>
                    <th>过期时间</th>
                    <th>更新证书</th>
                </tr>
                </thead>
                <tbody>
                {% for domain in ssl_list %}
                    <tr>
                        <td class="hostname"><a href="https://{{ domain.domain }}"
                                                target="_blank">{{ domain.domain }}</a></td>
                        <td>{{ domain.cert_type }}</td>
                        <td>{{ domain.validity }} 个月</td>
                        <td class="{% if domain.will_be_expired %}text-yellow{% elif domain.is_expired %}text-danger{% endif %}">{{ domain.expiry_date|date:"Y-m-d H:i" }}</td>
                        <td>
                            <button type="button" class="btn btn-block btn-default btn-flat" data-loading-text="..."
                                    {% if domain.middleman != 'certbot' %}disabled="disabled"
                                    title="请移步代理商更新" {% endif %}>更新
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <p>总共：{{ ssl_count }}个证书</p>
                </tfoot>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?{{ page_obj.previous_page_number.querystring }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page in page_obj.pages %}
                        {% if page %}
                            {% ifequal page page_obj.number %}
                                <li class="active"><a>{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?{{ page_obj.next_page_number.querystring }}" aria-label="Previous">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                var btn = $(this).button('loading');
                var domain = $(this).parents('tr').find('.hostname').text();
                $.ajaxSetup({
                    headers: {"X-CSRFToken": '{{ csrf_token }}'}
                });
                $(document).ajaxStart(function () {
                   console.log('renew start');
                });
                $(document).ajaxStop(function () {
                   console.log('renew completed');
                });
                $("." + domain).fadeOut(2000);
                $.ajax({
                    url: "{% url 'asset:renew' %}",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        domain: domain
                    },
                    success: function (data) {
                        console.log(data);
                        var msg = data.msg;
                        var message;
                        var alt_btn = '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
                        if(msg === 'not due') {
                            message = '<div class="alert alert-info alert-dismissible" role="alert" > ' +
                                alt_btn +'<strong>'+domain+'</strong> 域名未到期，暂无法更新</div>';
                            $('.ssl-wrapper').prepend(message);
                            $('.alert').fadeOut(6000);
                        } else if(msg === 'renewed') {
                            message = '<div class="alert alert-success alert-dismissible" role="alert">' +
                                alt_btn +' <strong>'+domain+'</strong> 域名已更新</div>';
                            message.addClass(domain);
                            $('.ssl-wrapper').prepend(message);
                        } else if (mas === 'unknown error') {
                            alert('未知错误，经检查 certbot 版本');
                        }
                        btn.button('reset');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('更新失败，请联系管理员')
                    }
                });
            });
        });
    </script>
{% endblock %}