/* start login styles */
.login-box-body .field-error {
    color: #FF6600;
    margin-bottom: 5px;
}
/* end login styles */

/* start logout styles */
.logout-box {
    width: 360px;
    margin: 7% auto;
    margin-top: 7%;
    margin-right: auto;
    margin-bottom: 7%;
    margin-left: auto;
}

.logout-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

/* end logout sytles */

/* start captcha styles */
.captcha-control .form-control {
    display: inline-block;
    width: 70%;
    margin-left: 15px;
}

img.captcha {
    cursor: pointer;
}

/* end captcha styles */