body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}


/* start server/asset list table styles */
.table {
    border-top: 3px solid #d2d6de;
    background-color: #ffffff;
    font-size: 0.8em;
}

.table tbody tr td,
.table thead tr th {
    border-bottom: 1px solid #eee;
}

.table thead tr th {
    color: #666;
}

.pagination {
    float: right;
}

.table tbody td.run-status-running {
    color: #090;
}

.table tbody td.run-status-stopped {
    color: #f90;
}

.table tbody td.run-status-retired {
    color: #f00;
}

.table tbody td.hostname {
    font-weight: 600;
}

.table tbody .text-danger {
    color: #ff0000;
}

/* end server/asset list table styles */


/* start server detail page styles */
.box-header .box-title {
    font-size: 1.2em;
}

.box-body table {
    width: 100%;
}

.box-body table tr td {
    border-bottom: 1px solid #eee;
    padding: 5px 5px;

}

.box-body .text-muted {
    color: #999;
}

.box-body .price {
    color: #FF6600;
}

.content .non-float {
    float: none;
}

#disk {
    margin-top: 20px;
}
/* end server detail page styles */


/* monitor trigger */
.trigger-list p {
    color: #888888;
}
/* end monitor trigger */