body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}


/* start server/asset list table styles */
.table {
    border-top: 3px solid #d2d6de;
    background-color: #ffffff;
    font-size: 0.8em;
}

.table tbody tr td,
.table thead tr th {
    border-bottom: 1px solid #eee;
}

.table thead tr th {
    color: #666;
}

.pagination {
    float: right;
}

.table tbody td.run-status-running {
    color: #090;
}

.table tbody td.run-status-stopped {
    color: #f90;
}

.table tbody td.run-status-retired {
    color: #f00;
}

.table tbody td.hostname {
    font-weight: 600;
}

.table tbody .text-danger {
    color: #ff0000;
}

/* end server/asset list table styles */


/* start server detail page styles */
.box-header .box-title {
    font-size: 1.2em;
}

.box-body table {
    width: 100%;
}

.box-body table tr td {
    border-bottom: 1px solid #eee;
    padding: 5px 5px;

}

.box-body .text-muted {
    color: #999;
}

.box-body .price {
    color: #FF6600;
}

.content .non-float {
    float: none;
}

#disk {
    margin-top: 20px;
}
/* end server detail page styles */


/* monitor trigger */
.trigger-list p {
    color: #888888;
}
/* end monitor trigger */

/* start ssl button styles */
.ssl-list button {
    font-size: 0.8em;
    width: 60%;
}
/* end ssl button styles */


/* start profile styles */
.new-password1-help ul {
    padding-left: 0;
    margin-left: 0;
}

.new-password1-help, .new-password1-help li {
    font-size: 11px;
    color: #999;
}

.new-password1-help ul li {
    list-style: none;
    line-height: 20px;
}

.change-password .alert {
    margin-left: 15px;
    margin-right:15px;
}

@media (min-width: 768px) {
    .change-password .alert {
        margin-left: 18%;
        margin-right: 15px;
    }
}

.change-password .alert ul {
    padding: 0;
}

.change-password .alert li {
    list-style: none;
}

.upload-file .modal-content input[type=file] {
}

.upload-file .modal-content ul {
    padding-left: 0;
}

.upload-file .modal-content .text-danger li{
    list-style: none;
}

/* end profile styles */

/* search styles */
.search {
    padding-left: 0;
    padding-bottom: 10px;
}
/* end search styles */