{% extends 'server_base.html' %}
{% load common_tags %}

{% block title %}
    监控大盘
{% endblock title %}

{% block content %}
    <div class="row">
        {% get_server_status_count as status_count %}
        {% get_trigger_count request as trigger_count %}
        {% get_abnormal_ssl_count as ab_ssl_count %}
        <div class="col-lg-3 col-xs-6">
            <div class="small-box {% if trigger_count > 0 %}bg-red{% else %}bg-green{% endif %}">
                <div class="inner">
                    <h3>{{ trigger_count }}</h3>
                    <p>监控告警</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url 'monitor:list' %}" class="small-box-footer">详情 <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>

        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box {% if status_count > 0 %}bg-yellow{% else %}bg-aqua{% endif %}">
                <div class="inner">
                    <h3>{{ status_count }}</h3>
                    <p>服务器状态</p>
                </div>
                <div class="icon">
                    <i class="ion ion-monitor"></i>
                </div>
                <a href="{% url 'server:overview' %}" class="small-box-footer">详情 <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box {% if status_count > 0 %}bg-yellow{% else %}bg-aqua{% endif %}">
                <div class="inner">
                    <h3>{{ ab_ssl_count }}</h3>
                    <p>证书健康</p>
                </div>
                <div class="icon">
                    <i class="ion ion-locked"></i>
                </div>
                <a href="{% url 'asset:ssl' %}" class="small-box-footer">详情 <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
{% endblock content %}
