{% extends 'server_base.html' %}

{% block title %}
    ECS概述
{% endblock title %}

{% block content_header %}
    <section class="content-header">
        <h1>Overview
            <small>概述</small>
        </h1>
    </section>
{% endblock %}

{% block content %}
    <div class="overview">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">ECS Instances Overview</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>组织</th>
                            <th>运行中</th>
                            <th>已停止</th>
                            <th>即将过期</th>
                            <th>已过期</th>
                        </tr>
                        {% for org in org_list %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ org.name }}</td>
                                <td><span class="badge bg-green">{{ org.get_running_count }}</span></td>
                                {% if org.get_stopped_count > 0 %}
                                    <td><a href="{% url 'server:list' %}?org={{ org.id }}&status=stopped"><span class="badge bg-yellow">{{ org.get_stopped_count }}</span></a></td>
                                {% else %}
                                    <td><span class="badge bg-yellow">{{ org.get_stopped_count }}</span></td>
                                {% endif %}
                                <td><a href="{% url 'server:list' %}?due=soon"><span class="badge bg-red">{{ org.get_will_be_expired_count }}</span></a></td>
                                <td><span class="badge bg-red">{{ org.get_is_expired_count }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                </div>
            </div>
            <!-- /.box -->
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-server"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">实例</span>
              <span class="info-box-number">{{ host_count }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ is_stopped }}<sup style="font-size: 20px">台</sup></h3>

                    <p>已停止</p>
                </div>
                <div class="icon">
                    <i class="ion ion-alert-circled"></i>
                </div>
                <a href="{% url 'server:list' %}?status=stopped" class="small-box-footer">
                    详情 <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

    </div>
{% endblock content %}