{% extends "adminlte/base.html" %}
{% load common_tags %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="login-box">
        {% block logo %}
            <div class="login-logo">
                {# Mirrors block names used in _main_header.html #}
                <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Admin</b>LTE{% endblock %}</a>
            </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="alert alert-danger" style="display: none"></p>
            {% block login_errors %}
                {% if form.errors and not form.non_field_errors %}
                    <p class="alert alert-danger">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endif %}
            {% endblock login_errors %}

            {% block login_form %}
                <form action="" method="post">
                    {% csrf_token %}
                    {% if message %}
                        <p class="login-box-msg" style="color: red;">{{ message }}</p>
                    {% endif %}
                    {% if form.username.errors %}
                        <div class="field-error">{% for error in form.username.errors %}{{ error }}{% endfor %}</div>
                    {% endif %}
                    <div class="field-error username-error" style="display: none;"></div>
                    <div class="form-group has-feedback">
                        <input name="username" class="form-control" placeholder="Username"
                               value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    {% if form.password.errors %}
                        <div class="field-error">{% for error in form.password.errors %}{{ error }}{% endfor %}</div>
                    {% endif %}
                    <div class="field-error password-error" style="display: none;"></div>
                    <div class="form-group has-feedback">
                        <input type="password" name="password" class="form-control" placeholder="Password"
                               value="{% if form.password.value %}{{ form.password.value }}{% endif %}">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="field-error captcha-error" style="display: none;"></div>
                    {% if form.captcha %}
                        {% if form.captcha.errors %}
                            <div class="field-error">{% for error in form.captcha.errors %}{{ error }}{% endfor %}</div>
                        {% endif %}
                        <div class="form-group has-feedback captcha-control cpatcha-1">
                            {{ form.captcha }}
                        </div>
                    {% endif %}
                    <div class="form-group has-feedback captcha-control captcha-2">
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            {% block login_form_links %}
                            {% endblock %}
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                        </div>
                    </div>
                </form>
            {% endblock login_form %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static "js/login.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'users:login' %}",
                    type: "post",
                    data: $('form').serialize(),
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        if (data.success) {
                            window.location.href = "{% url 'dashboard' %}";
                        } else {
                            var non_field_errors = data.non_field_errors;
                            var field_errors = data.field_errors;
                            var captcha1 = '<div class="form-group has-feedback captcha-control captcha-1">'
                            var captcha2 = '<div class="form-group has-feedback captcha-control captcha-2">'
                            if (data.captcha !== undefined) {
                                {#console.log(data.captcha);#}
                                var captcha_1 = $('form').find(".cpatcha-1");
                                if (captcha_1.length !== 0) {
                                    console.log('cp1');
                                    $('.captcha-1').replaceWith(captcha1 + data.captcha + '</div>');
                                } else {
                                    console.log('cp2');
                                    $('.captcha-2').replaceWith(captcha2 + data.captcha + '</div>');
                                }
                                $('#id_captcha_1').val("");
                            } else {
                                console.log('empty');
                                $('.captcha-control').empty();
                            }

                            if (non_field_errors) {
                                for (err in non_field_errors) {
                                    var non_field_errors_alert = '<p class="alert alert-danger">' + non_field_errors[err] + '</p>'
                                    $('.login-box-body .alert-danger').replaceWith(non_field_errors_alert);
                                }
                                $('.field-error').empty();
                            }
                            if (field_errors && !non_field_errors) {
                                var errors_alert = '<p class="alert alert-danger">' + data.tips + '</p>';
                                $('.login-box-body .alert-danger').replaceWith(errors_alert);
                                var username_errors = field_errors.username;
                                var password_errors = field_errors.password;
                                var captcha_errors = field_errors.captcha;
                                {% for field in "username password captcha"|make_list2 %}
                                    if ({{ field }}_errors !== undefined) {
                                        if ({{ field }}_errors.length !== 0) {
                                            var error_wrapper = '<div class="field-error {{ field }}-error">';
                                            var errors = '';
                                            for (err in {{ field }}_errors) {
                                                errors += error_wrapper + {{ field }}_errors + '</div>';
                                            }
                                            $('.{{ field }}-error').replaceWith(errors);
                                        }
                                    } else {
                                        $('.{{ field }}-error').css('display', 'none');
                                    }
                                {% endfor %}
                            }
                            {#console.log(non_field_errors);#}
                            {#console.log(field_errors)#}
                        }
                    }
                });
                var $form = $(this);
                var url = location.protocol + "//" + window.location.hostname + ":"
                    + location.port + "/captcha/refresh/";

                // Make the AJAX-call
                $.getJSON(url, {}, function (json) {
                    $form.find('input[name="captcha_0"]').val(json.key);
                    $form.find('img.captcha').attr('src', json.image_url);
                });
            });
        });
    </script>
{% endblock %}
