{% extends 'server_base.html' %}
{% load adminlte_helpers %}

{% block title %}用户设置{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>用户设置
            <small>profile</small>
        </h1>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="{% avatar_url size=90 %}"
                         alt="User profile picture">
                    <h3 class="profile-username text-center">{{ request.user.username }}</h3>
                    <p class="text-muted text-center">{{ request.user.position }}</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Followers</b> <a class="pull-right">1,322</a>
                        </li>
                        <li class="list-group-item">
                            <b>Following</b> <a class="pull-right">543</a>
                        </li>
                        <li class="list-group-item">
                            <b>Friends</b> <a class="pull-right">13,287</a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}