{% extends 'server_base.html' %}
{% load adminlte_helpers %}

{% block title %}用户设置{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>用户设置
            <small>profile</small>
        </h1>
    </section>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="{% avatar_url size=90 %}"
                         alt="User profile picture">
                    <h3 class="profile-username text-center">{{ request.user.username }}</h3>
                    <p class="text-muted text-center">
                        {% if request.user.position %}{{ request.user.position }}{% else %}-{% endif %}</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>部门</b> <span class="pull-right">{% if request.user.department %}
                            {{ request.user.department }}{% else %}-{% endif %}</span>
                        </li>
                        <li class="list-group-item">
                            <b>电话</b> <span class="pull-right">{% if request.user.phone %}
                            {{ request.user.phone }}{% else %}-{% endif %}</span>
                        </li>
                        <li class="list-group-item">
                            <b>邮箱</b> <a class="pull-right" href="https://qiye.aliyun.com" target="_blank">
                            {% if request.user.email %}{{ request.user.email }}{% else %}-{% endif %}</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                            data-target="#modal-primary">修改密码
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class=""><a href="#timeline" data-toggle="tab">时间线</a></li>
                    <li class="active"><a href="#settings" data-toggle="tab">基本资料</a></li>
                    <li class=""><a href="#1password" data-toggle="tab">修改密码</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="timeline">
                        <!-- The timeline -->
                        <p>test</p>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="settings">
                        <form class="form-horizontal" action="{% url 'users:profile' %}" method="post">
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    <div class="col-sm-10">
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">更新资料</button>
                                </div>
                            </div>
                        {% csrf_token %}
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="1password">
                        <form class="form-horizontal" action="{% url 'users:password_change' %}" method="post">
                            {% for field in pass_form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    <div class="col-sm-10">
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">更新密码</button>
                                </div>
                            </div>
                        {% csrf_token %}
                        </form>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
    <div class="modal modal-primary fade" id="modal-primary" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">primary Modal</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $("form .form-group input[type!=hidden]").addClass('form-control');
            $("form .form-group label").addClass('col-sm-2 control-label');

             $.ajax({
                    url: "{% url 'users:password_change' %}",
                    type: "post",
                    data: $('form').serialize(),
                    dataType: 'json',
                    async: true,
                    success: function (data) {

                    }
             });
        });
    </script>
{% endblock %}