{% extends 'server_base.html' %}
{% load adminlte_helpers %}

{% block title %}用户设置{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>用户设置
            <small>profile</small>
        </h1>
    </section>
{% endblock %}

{% block content %}
    <div class="alert alert-success alert-dismissible" role="alert" style="display: none"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle"
                         src="{% if request.user.avatar_url %}{{ request.user.avatar_url }}{% else %}{% avatar_url size=90 %}{% endif %}"
                         alt="User profile picture">
                    <h3 class="profile-username text-center">{{ request.user.username }}</h3>
                    <p class="text-muted text-center">
                        {% if request.user.position %}{{ request.user.position }}{% else %}-{% endif %}</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>部门</b> <span class="pull-right">{% if request.user.department %}
                            {{ request.user.department }}{% else %}-{% endif %}</span>
                        </li>
                        <li class="list-group-item">
                            <b>电话</b> <span class="pull-right">{% if request.user.phone %}
                            {{ request.user.phone }}{% else %}-{% endif %}</span>
                        </li>
                        <li class="list-group-item">
                            <b>邮箱</b> <a class="pull-right" href="https://qiye.aliyun.com" target="_blank">
                            {% if request.user.email %}{{ request.user.email }}{% else %}-{% endif %}</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                            data-target="#modal-primary">修改头像
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#settings" data-toggle="tab">基本资料</a></li>
                    <li class=""><a href="#1password" data-toggle="tab">修改密码</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="settings">
                        <form class="form-horizontal" action="{% url 'users:profile' %}" method="post">
                            {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.name }}"
                                           class="col-sm-2 control-label">{{ field.label }}:</label>
                                    <div class="col-sm-10">
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">更新资料</button>
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="1password">
                        <form class="change-password form-horizontal" action="{% url 'users:password_change' %}"
                              method="post">
                            {% for field in pass_form %}
                                <div class="form-group">
                                    {% if field.name == "new_password2" %}
                                        <div class="alert-new_password2 alert alert-danger alert-dismissible"
                                             role="alert" style="display: none"></div>
                                    {% endif %}
                                    {% if field.name == "old_password" %}
                                        <div class="alert-old_password alert alert-danger alert-dismissible"
                                             role="alert" style="display: none"></div>
                                    {% endif %}
                                    <label for="{{ field.name }}"
                                           class="col-sm-2 control-label">{{ field.label }}:</label>
                                    <div class="col-sm-10">
                                        {{ field.errors }}
                                        {{ field }}
                                        {% if field.name == "new_password1" %}
                                            {% if pass_form.new_password1.help_text %}
                                                <div class="help new-password1-help">{{ pass_form.new_password1.help_text|safe }}</div>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn-change-password btn btn-danger">更新密码</button>
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
    <div class="modal modal-primary fade upload-file" id="modal-primary" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">修改头像</h4>
                </div>
                <form class="change-avatar" action="{% url 'users:avatar_change' %}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="text-danger"></div>
                        <input type="file" name="avatar" required="" id="id_avatar" class="" maxlength="150">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left cancel-upload-file" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-outline">保存</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $("form.change-password").on('submit', function (e) {
                e.preventDefault();
                $.ajaxSetup({
                    headers: {"X-CSRFToken": '{{ csrf_token }}'}
                });
                $.ajax({
                    url: "{% url 'users:password_change' %}",
                    type: "post",
                    data: $('form.change-password').serialize(),
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        if (data.success === true) {
                            $("form.change-password .alert").hide();
                            var suc_alert = $('.content .alert-success');
                            suc_alert.text('密码修改成功！').fadeIn();
                            suc_alert.fadeOut(3000);
                            $('form.change-password input[type!=hidden]').val('');
                        } else {
                            console.log(data.field_errors);
                            var field_errors = data.field_errors;
                            if (!('new_password2' in field_errors)) {
                                $('.alert-new_password2').hide();
                            }
                            if (!('old_password' in field_errors)) {
                                $('.alert-old_password').hide();
                            }
                            if (!jQuery.isEmptyObject(field_errors)) {
                                for (var field in field_errors) {
                                    if (field === 'new_password2') {
                                        var new_password2_errors = field_errors[field];
                                        var new_password2_res = '';
                                        for (var new_password2_error in new_password2_errors) {
                                            new_password2_res += '<li>' + new_password2_errors[new_password2_error] + '</li>';
                                        }
                                        $(".alert-new_password2").fadeOut(function () {
                                            $(this).html('<ul>' + new_password2_res + '</ul>').fadeIn();
                                        });
                                    }
                                    if (field === 'old_password') {
                                        var old_password_errors = field_errors[field];
                                        var old_password_res = '';
                                        for (var old_password_error in old_password_errors) {
                                            old_password_res += '<li>' + old_password_errors[old_password_error] + '</li>';
                                        }
                                        $(".alert-old_password").fadeOut(function () {
                                            $(this).html('<ul>' + old_password_res + '</ul>').fadeIn();
                                        });
                                    }
                                }
                            }
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            });
            $("form.change-avatar").on('submit', function (e) {
                e.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajaxSetup({
                    headers: {"X-CSRFToken": '{{ csrf_token }}'}
                });
                $.ajax({
                    url: "{% url 'users:avatar_change' %}",
                    type: "post",
                    data: formData,
                    dataType: 'json',
                    async: true,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.success === true) {
                            window.location.href = "{% url 'users:profile' %}";
                        }  else {
                            var filed_errors = data.field_errors;
                            var avatar_errors = filed_errors['avatar'];
                            var avatar_res = '';
                            for(var avatar_error in avatar_errors) {
                                avatar_res += '<li>'+avatar_errors[avatar_error]+'</li>';
                            }
                            $('.modal-body .text-danger').fadeOut(200, function () {
                                $(this).html('<ul>'+avatar_res+'</ul>').fadeIn(200);
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown)
                    }
                });
            });
            $("button.cancel-upload-file").click(function () {
                $("#id_avatar").val('');
            })
        });
    </script>
{% endblock %}